* {
    font-family: 'Oswald', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #2e384d;
}
p,a, p, div, span,i, b, strong {
    color: #8492a6!important
}

body {
    background-color: #edf2f9;

}
.wrapper {
  
}

